<!DOCTYPE html>
<html lang="en">
<head>
    <title>DOGS RECOGNISER</title>
</head>
<body>
<h2> Show me the good boy's photo </h2>
<form>
    <input type="file" name="img" accept="image/*" onchange="loadFile(event)"> <br><br>
    <img id="output"/>
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
    <br><br>
    <input type="submit" value="Find!"></input>
</form>
<hr>
<h3><span id="result"></span></h3>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="{{ url_for('static',filename='index.js') }}"></script>
</body>
</html>
